h1{
	font-family: "Balto",sans-serif;
	font-weight:900;
	font-size:2.5em;
	margin: 5px 200px;

}

.frontText{
	font-family: sans-serif;
	color: dimgrey;
	font-size:1.2em;
	margin: 5px 180px;
}

.frontText2{
	font-family: sans-serif;
	color: dimgrey;
	font-size:1em;
	margin: 10px 480px;
}

.navbar {
	background-color: black;
	color: black;

}

.Comment{

    font-size:0.9em;
    
    border-radius: 30%;
    
    height: 140px;
    
    
    margin: 5px 1px;
    text-align: center; 
    padding: 5px;
    border: 1px solid rgba(0,0,0,0.2);
    
    
    border: 2px solid rgba(0,0,0,0.2);
    background-color: red;
    border-style: double;

}

.back{
	
	
	z-index:999;
	color: black;
}