h1 {
  font-family: "Balto", sans-serif;
  font-weight: 900;
  font-size: 2.5em;
  margin: 30px 200px;
}

.frontText {
  font-family: sans-serif;
  color: dimgrey;
  font-size: 1.2em;
  margin: 20px 180px;
}

.frontText2 {
  font-family: sans-serif;
  color: dimgrey;
  font-size: 1em;
  margin: 30px 480px;
}

.navbar {
  background-color: black;
  color: black;
}

.Comment {
  font-size: 0.9em;

  border-radius: 5%;

  height: 100%;
  width: 100%;

  margin: 5px 1px;

  padding: 5px;
}

.back {
  z-index: 999;
  color: black;
}
.hometitle {
  font-family: Anton;
  font-size: 48px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26.4px;
}

.subtitle {
  font-family: Anton;
  font-size: 36px;
  font-style: lighter;
  font-variant: small-caps;
  font-weight: 500;
  line-height: 26.4px;
}

.subtitle2 {
  font-family: Anton;
  font-size: 40px;
  font-style: lighter;
  font-variant: small-caps;
  font-weight: 500;
  line-height: 30px;
  color: white;
}
